<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <title>GloomStrike | Hashcrack</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <section>
            <nav class='navbar' role='navigation'>
                <div class='navbar-brand'>
                    <a class='navbar-item' href='/'>GloomStrike</a>
                </div>
                <div class='navbar-menu'>
                    <div class='navbar-start'>
                        <a class='navbar-item' href='/dasboard'>
                        <span class='icon'>
                        <i class="fa-solid fa-table-columns"></i>
                        </span>
                        <span>Dashboard</span>
                        </a>
                        <a class='navbar-item' href='/network'>
                        <span class='icon'>
                        <i class="fa-solid fa-network-wired"></i>
                        </span>
                        <span>Network Mapper</span>
                        </a>
                        <a class='navbar-item' href='/hashcrack'>
                        <span class='icon'>
                        <i class="fa-solid fa-hashtag"></i>
                        </span>
                        <span>Hash Cracker</span>
                        </a>
                        <a class='navbar-item' href='/fuzzer'>
                        <span class='icon'>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span>URL Fuzzer</span>
                        </a>
                        <a class='navbar-item is-active' href='/checker'>
                        <span class='icon'>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span>Login Checker</span>
                        </a>
                        <a class="navbar-item" href="/scans">
                        <span class='icon'>
                        <i class="fa-solid fa-satellite-dish"></i>
                        </span>
                        <span>Active Scans</span>
                        </a>
                    </div>
                </div>
            </nav>
        </section>
        <section class='container mt-4'>
            <div class='columns'>
                <div class='column'>
                    <h1 class='subtitle has-fore has-text-centered'>Login Checker</h1>
                    <div class='mb-5 box has-background-dark'>
                        <form method='POST' action='/checker' enctype="multipart/form-data">
                            <div class='field'>
                                <label class="label has-accent2">Target Login URL</label>
                                <div class='control has-icons-left'>
                                    <input class='input' type='text' name='url' placeholder='https://example.com/login' required>
                                    <span class='icon is-small is-left'>
                                    <i class='fas fa-bullseye has-accent'></i>
                                    </span>
                                </div>
                            </div>
                            <div class='field'>
                                <label class="label has-accent2">Threads</label>
                                <div class='control has-icons-left'>
                                    <input class='input' type='number' name='threads' placeholder='25' required>
                                    <span class='icon is-small is-left'>
                                    <i class='fas fa-microchip has-accent'></i>
                                    </span>
                                </div>
                            </div>
                            <div class='field'>
                                <label class="label has-accent2">Login Parameters</label>
                                <div class='control has-icons-left'>
                                    <input class='input' type='text' name='parameters' placeholder='username=$USERNAME&password=$PASSWORD&csrf=$CSRF' required>
                                    <span class='icon is-small is-left'>
                                    <i class='fas fa-list has-accent'></i>
                                    </span>
                                </div>
                            </div>
                            <div class='field'>
                                <label class="label has-accent2">CSRF Page (Only if applicable)</label>
                                <div class='control has-icons-left'>
                                    <input class='input' type='text' name='csrf-url' placeholder='https://example.com/login'>
                                    <span class='icon is-small is-left'>
                                    <i class='fas fa-list has-accent'></i>
                                    </span>
                                </div>
                            </div>
                            <div class='field'>
                                <label class="label has-accent2">CSRF Input Name (Only if applicable)</label>
                                <div class='control has-icons-left'>
                                    <input class='input' type='text' name='csrf' placeholder='<input name="csrf-token" hidden> -> csrf-token'>
                                    <span class='icon is-small is-left'>
                                    <i class='fas fa-list has-accent'></i>
                                    </span>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <label class="label has-accent2">Usernames</label>
                                    <div class="field">
                                        <div class="control">
                                            <div class="file">
                                                <label class="file-label is-fullwidth">
                                                    <input class="file-input" type="file" name="usernames">
                                                    <span class="file-cta is-fullwidth">
                                                        <span class="file-icon">
                                                            <i class="fas fa-upload has-accent2"></i>
                                                        </span>
                                                        <span class="file-label has-accent2">Usernames</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <label class="label has-accent2">Passwords</label>
                                    <div class="field">
                                        <div class="control">
                                            <div class="file">
                                                <label class="file-label is-fullwidth">
                                                    <input class="file-input" type="file" name="passwords">
                                                    <span class="file-cta is-fullwidth">
                                                        <span class="file-icon">
                                                            <i class="fas fa-upload has-accent2"></i>
                                                        </span>
                                                        <span class="file-label has-accent2">Passwords</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <label class="label has-accent2">Combolist</label>
                                    <div class="field">
                                        <div class="control">
                                            <div class="file">
                                                <label class="file-label is-fullwidth">
                                                    <input class="file-input" type="file" name="combolist">
                                                    <span class="file-cta is-fullwidth">
                                                        <span class="file-icon">
                                                            <i class="fas fa-upload has-accent2"></i>
                                                        </span>
                                                        <span class="file-label has-accent2">Combolist</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button input">Start</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>