
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <title>GloomStrike | Hashcrack</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <section>
            <nav class='navbar' role='navigation'>
                <div class='navbar-brand'>
                    <a class='navbar-item' href='/'>GloomStrike</a>
                </div>
                <div class='navbar-menu'>
                    <div class='navbar-start'>
                        <a class='navbar-item' href='/dasboard'>
                            <span class='icon'>
                                <i class="fa-solid fa-table-columns"></i>
                            </span>
                            <span>Dashboard</span>
                        </a>
                        <a class='navbar-item' href='/network'>
                            <span class='icon'>
                                <i class="fa-solid fa-network-wired"></i>
                            </span>
                            <span>Network Mapper</span>
                        </a>
                        <a class='navbar-item' href='/hashcrack'>
                            <span class='icon'>
                                <i class="fa-solid fa-hashtag"></i>
                            </span>
                            <span>Hash Cracker</span>
                        </a>
                        <a class='navbar-item is-active' href='/fuzzer'>
                            <span class='icon'>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>URL Fuzzer</span>
                        </a>
                        <a class='navbar-item' href='/checker'>
                            <span class='icon'>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>Login Checker</span>
                        </a>
                        <a class="navbar-item" href="/scans">
                            <span class='icon'>
                                <i class="fa-solid fa-satellite-dish"></i>
                            </span>
                            <span>Active Scans</span>
                        </a>
                    </div>
                </div>
            </nav>
        </section>
        <section class='container mt-4'> 
            <div class='columns'>
                <div class='column is-half'>
                    <h1 class='subtitle has-fore has-text-centered'>URL Fuzzer</h1>
                    <div class="box has-background-dark">
                        <form action="/fuzzer" method="POST" enctype="multipart/form-data">
                            <div class='field'>
                                <div class='control has-icons-left'>
                                    <input class='input' type='text' name='target' placeholder='Target URL' required>
                                    <span class='icon is-small is-left'>
                                        <i class='fas fa-bullseye has-accent'></i>
                                    </span>
                                </div>
                            </div>
                            <div class='field'>
                                <div class='control has-icons-left'>
                                    <input class='input' type='number' name='threads' placeholder='Threads'>
                                    <span class='icon is-small is-left'>
                                        <i class='fas fa-microchip has-accent'></i>
                                    </span>
                                </div>
                            </div>
                            <div class='field'>
                                <div class='control has-icons-left'>
                                    <input class='input' type='number' name='depth' placeholder='Max Depth'>
                                    <span class='icon is-small is-left'>
                                        <i class='fas fa-folder-tree has-accent'></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <p class="has-accent">Directories Wordlist</p>
                                    <div class="file has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="dir_wordlist">
                                                <span class="file-cta">
                                                    <span class="file-icon">
                                                        <i class="fas fa-upload has-accent"></i>
                                                    </span>
                                                <span class="file-label has-accent2">Upload</span>
                                                </span>
                                            <span class="file-name">Wordlist.txt</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <p class="has-accent">Files Wordlist</p>
                                    <div class="file has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="file_wordlist">
                                                <span class="file-cta">
                                                    <span class="file-icon">
                                                        <i class="fas fa-upload has-accent"></i>
                                                    </span>
                                                <span class="file-label has-accent2">Upload</span>
                                                </span>
                                            <span class="file-name">Wordlist.txt</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button input">Fuzz</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='column'>
                    <h1 class='subtitle has-fore has-text-centered'>Subdomain Fuzzer</h1>
                    <div class="box has-background-dark">

                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
