<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta http-equiv='X-UA-Compatible' content='ie=edge'>
		<title>GloomStrike | Dashboard</title>
		<link rel='stylesheet' href='/static/css/main.css'>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>
		<section>
			<nav class='navbar' role='navigation'>
				<div class='navbar-brand'>
					<a class='navbar-item' href='/'>GloomStrike</a>
				</div>
				<div class='navbar-menu'>
					<div class='navbar-start'>
						<a class='navbar-item' href='/dasboard'>
							<span class='icon'>
								<i class="fa-solid fa-table-columns"></i>
							</span>
							<span>Dashboard</span>
						</a>
						<a class='navbar-item' href='/network'>
							<span class='icon'>
								<i class="fa-solid fa-network-wired"></i>
							</span>
							<span>Network Mapper</span>
						</a>
						<a class='navbar-item' href='/hashcrack'>
							<span class='icon'>
								<i class="fa-solid fa-hashtag"></i>
							</span>
							<span>Hash Cracker</span>
						</a>
						<a class='navbar-item' href='/fuzzer'>
							<span class='icon'>
								<i class="fa-solid fa-magnifying-glass"></i>
							</span>
							<span>URL Fuzzer</span>
						</a>
						<a class='navbar-item' href='/checker'>
							<span class='icon'>
								<i class="fa-solid fa-magnifying-glass"></i>
							</span>
							<span>Login Checker</span>
						</a>
					</div>
				</div>
			</nav>
		</section>
	</body>
</html>
