:root {
	--dark: #101010;
	--dark2: #1a1a1a;
	--secondary: #121212;
	--accent: #33ff33;
	--accent2: #33ff55;
	--fore: #262626;
}

html, body {
	background: var(--dark2);
	height: 100vh;
	width: 100vw;
	overflow: auto !important;
}

.scrollable {
	overflow-y: scroll !important;
}

.navbar {
	background-color: var(--accent) !important;
}

.navbar-item:hover {
	background-color: var(--secondary) !important;
	color: var(--accent) !important;
}

.navbar-item:hover .icon i, .navbar-item:hover span {
	color: var(--accent) !important;
}

.navbar-item.is-active {
	background-color: var(--secondary) !important;
}

.navbar-item.is-active .icon i, .navbar-item.is-active span {
	color: var(--accent) !important;
}

* {
	font-family: monospace;
	color: var(--fore) !important;
}

.has-fore {
	color: var(--accent2) !important;
}

.has-dark {
	color: var(--dark) !important;
}

.has-background-dark {
	background-color: var(--dark) !important;
}

.has-background-dark2 {
	background-color: var(--dark2) !important;
}

.has-background-secondary {
	background-color: var(--secondary) !important;
}

.has-accent {
	color: var(--accent) !important;
}

.has-accent2 {
	color: var(--accent2) !important;
}

::placeholder {
	color: var(--accent) !important;
	opacity: 0.5 !important;
}

:-ms-input-placeholder {
	color: var(--accent) !important;
	opacity: 0.5 !important;
}

.results-box {
	position: relative !important;
}

.is-fullheight {
	height: 100% !important;
}

.input, .file-cta, .file-name {
	background-color: var(--dark2) !important;
	border: solid 1px var(--fore) !important;
	color: var(--accent2) !important;
}

select option {
	background-color: var(--dark) !important;
	color: var(--accent2) !important;
}

select {
	background-color: var(--dark2) !important;
	color: var(--accent2) !important;
	border: solid var(--dark2) 1px !important;
}

.file-label.is-fullwidth, .file-cta.is-fullwidth {
	width: 100% !important;
}